<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_awesome_owl" model="ir.actions.client">
        <field name="name">Awesome</field>
        <field name="tag">owl.playground</field>
    </record>

    <menuitem id="menu_awesome_owl_root"
              name="Awesome"
              action="action_awesome_owl"
              sequence="10"/>
</odoo>